.scene {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* background-color: #348C31; */
}

.grass-layer {
  position: absolute;
  top: -10%; 
  left: -10%;
  width: 120%;
  height: 120%;
  
  background-image: url('/images/imageTile.png');
  background-repeat: repeat;
  /* background-size: 500px 500px; */
  /* will-change: background-position;
  image-rendering: auto;  */
  /* background-size: 502px 502px; */
}
