.scene {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.grass-layer {
  width: 160vw;
  height: 160vh;
  position: absolute;
  top: -30vh;
  left: -30vw;
  background-image: url('/images/imageGrassTile.png');
  background-repeat: repeat;
  background-size: 500px 500px;
  background-position: -25px -25px;
  /* will-change: transform; */
  /* transition: transform 0.12s ease-out; */
}