@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Caveat:wght@400;600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Klee One', cursive;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}